@charset "UTF-8";
/* google font */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/* стили*/
body {
  line-height: 1.4em;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 16px; }

img {
  max-width: 100%;
  height: 100%; }

html, body {
  height: 100%; }

body {
  background-color: #eeeeee; }

nav {
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  transition: left 0.6s;
  background: #3b4662;
  z-index: 2000;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  nav > div + div {
    border-top: 1px solid #9da2b0; }
  nav a {
    display: -ms-flexbox;
    display: flex;
    padding: 24px 20px;
    font-size: 16px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.5); }
    nav a:hover {
      color: white; }
    nav a i {
      margin-right: 15px; }
  nav .nav_close > div,
  nav .nav_open > div {
    cursor: pointer;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 1;
    color: white;
    text-align: center; }
  nav .nav_account a {
    color: white;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    nav .nav_account a i:last-of-type {
      margin-left: 15px;
      margin-right: 0;
      color: rgba(255, 255, 255, 0.5); }
  nav .nav_menu {
    -ms-flex: 1 0 auto;
        flex: 1 0 auto; }
    nav .nav_menu > ul > li.active > a {
      color: white;
      background-color: #e39855;
      padding: 24px 20px; }
    nav .nav_menu > ul > li.parentMenu a i:last-of-type {
      position: absolute;
      right: 25px;
      margin: 0; }
    nav .nav_menu > ul > li.parentMenu ul.subMenu {
      padding-left: 52px;
      max-height: 0;
      overflow: hidden;
      transition: all 0.4s ease; }
      nav .nav_menu > ul > li.parentMenu ul.subMenu li {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 15px; }
        nav .nav_menu > ul > li.parentMenu ul.subMenu li a {
          padding: 0; }
      nav .nav_menu > ul > li.parentMenu ul.subMenu.active {
        max-height: 100vh;
        overflow: visible; }
        nav .nav_menu > ul > li.parentMenu ul.subMenu.active li.active a {
          color: white; }
  nav .nav_settings a {
    padding: 24px 20px;
    display: block; }
    nav .nav_settings a.active {
      color: white;
      background-color: #e39855;
      padding: 24px 20px; }
  nav.full {
    width: 250px;
    min-width: 250px;
    left: -250px; }
    nav.full .nav_close .close {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
          justify-content: flex-end; }
    nav.full.active {
      left: 0px; }
      nav.full.active ~ main {
        transform: translateX(250px);
        width: calc(100% - 260px); }
  nav.part {
    left: -60px;
    width: 60px;
    min-width: 60px; }
    nav.part .nav_menu ul li a {
      padding: 24px 10px; }
      nav.part .nav_menu ul li a i {
        margin: 0 auto; }
    nav.part .nav_open i {
      margin: 0 auto; }
    nav.part .nav_account a {
      padding: 24px 10px; }
      nav.part .nav_account a i {
        color: white;
        margin: 0 auto; }
    nav.part .nav_settings a {
      padding: 24px 10px;
      text-align: center; }
      nav.part .nav_settings a i {
        margin: 0 auto; }
    nav.part.active {
      left: 0; }
      nav.part.active ~ main {
        transform: translateX(60px);
        width: calc(100% - 70px); }

a.orange {
  border-radius: 3px;
  background-color: #e39855;
  font-size: 14px;
  padding: 6px 20px;
  color: #ffffff; }

main {
  height: 100%;
  margin-left: 10px;
  transition: all 0.6s; }
  main > .title {
    box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.05);
    background-color: #3b4662; }
    main > .title h2 {
      font-family: Roboto;
      font-size: 16px;
      color: #ffffff;
      padding: 15px 30px; }
  main ul.tabs_menu {
    background-color: #eeeeee;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex; }
    main ul.tabs_menu li {
      cursor: pointer;
      padding: 18px 40px;
      background-color: #fff; }
      main ul.tabs_menu li + li {
        border-right: 1px solid #e5e5e5; }
      main ul.tabs_menu li.active {
        background-color: #e39855;
        color: white; }
  main input[type="submit"] {
    margin-top: 25px;
    border-radius: 3px;
    background-color: #3b4662;
    padding: 8px 20px;
    color: white; }
  main form {
    padding: 20px 30px 30px 60px; }
    main form input[id="add_file"],
    main form input[id="save_file"] {
      display: none; }
    main form div.adding_files,
    main form div.saving_files {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex; }
      main form div.adding_files .add_file_block,
      main form div.adding_files .save_file_block,
      main form div.saving_files .add_file_block,
      main form div.saving_files .save_file_block {
        border-radius: 3px;
        border: solid 1.3px #e5e5e5;
        padding: 8px 10px;
        display: block;
        margin-right: 20px; }
        main form div.adding_files .add_file_block span,
        main form div.adding_files .save_file_block span,
        main form div.saving_files .add_file_block span,
        main form div.saving_files .save_file_block span {
          color: #c5c9cc;
          margin-right: 15px; }
        main form div.adding_files .add_file_block label,
        main form div.adding_files .save_file_block label,
        main form div.saving_files .add_file_block label,
        main form div.saving_files .save_file_block label {
          display: inline-block;
          border-radius: 3px;
          background-color: #e39855;
          color: white;
          padding: 6px 25px; }
        main form div.adding_files .add_file_block > i,
        main form div.adding_files .save_file_block > i,
        main form div.saving_files .add_file_block > i,
        main form div.saving_files .save_file_block > i {
          color: #c5c9cc;
          margin-right: 10px; }
      main form div.adding_files .bases_block,
      main form div.saving_files .bases_block {
        position: relative;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: solid 1.3px #c5c9cc;
        background-color: #c5c9cc; }
        main form div.adding_files .bases_block select,
        main form div.saving_files .bases_block select {
          background: transparent;
          appearance: none;
          padding: 0px 40px 0px 20px;
          z-index: 1;
          -webkit-appearance: none;
          -moz-appearance: none; }
          main form div.adding_files .bases_block select option,
          main form div.saving_files .bases_block select option {
            font-size: 14px;
            color: #000000; }
        main form div.adding_files .bases_block > i,
        main form div.saving_files .bases_block > i {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(-20px, -50%);
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center; }
      main form div.adding_files .file_name_block,
      main form div.saving_files .file_name_block {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center; }
  main fieldset.Fright {
    margin-right: 60px; }
  main .select {
    padding: 5px 0;
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 1.3px #c5c9cc;
    background-color: #c5c9cc; }
    main .select select {
      width: 100%;
      background: transparent;
      appearance: none;
      padding: 0px 40px 0px 20px;
      z-index: 1;
      -webkit-appearance: none;
      -moz-appearance: none; }
      main .select select option {
        font-size: 14px;
        color: #000000; }
    main .select > i {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-20px, -50%);
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
  main input[type="search"] {
    max-width: 615px;
    margin-right: 40px;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    border-radius: 3px;
    border: solid 1.3px #c5c9cc;
    background-color: #ffffff;
    padding: 5px 20px; }
  main .content {
    display: none;
    border-top: 1px solid #e5e5e5;
    box-shadow: -7px 0 7px 0 rgba(0, 0, 0, 0.05); }
    main .content.active {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex; }
  main .export_import {
    background-color: #fff; }
    main .export_import .tabs_content .content.import {
      -ms-flex-direction: column;
          flex-direction: column; }
      main .export_import .tabs_content .content.import .base_accordeon .title {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 17px 20px 17px 25px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.02);
        background-color: #c5c9cc; }
        main .export_import .tabs_content .content.import .base_accordeon .title i {
          margin-right: 25px; }
        main .export_import .tabs_content .content.import .base_accordeon .title h2 {
          display: block; }
      main .export_import .tabs_content .content.import .base_accordeon .files_list {
        display: none; }
      main .export_import .tabs_content .content.import .files_list li {
        display: -ms-flexbox;
        display: flex;
        padding: 10px 40px 10px 60px;
        border-top: solid 1.3px #e5e5e5; }
        main .export_import .tabs_content .content.import .files_list li .icons {
          margin-right: 15px; }
          main .export_import .tabs_content .content.import .files_list li .icons i {
            color: #c5c9cc;
            margin-right: 15px;
            border-radius: 3px;
            border: solid 1px #c5c9cc;
            padding: 8px; }
        main .export_import .tabs_content .content.import .files_list li .file {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
        main .export_import .tabs_content .content.import .files_list li .date {
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center; }
          main .export_import .tabs_content .content.import .files_list li .date span {
            color: #c5c9cc; }
            main .export_import .tabs_content .content.import .files_list li .date span + span {
              margin-left: 10px; }
    main .export_import .tabs_content .content.export form .saving_files .bases_block {
      background-color: #fff; }
      main .export_import .tabs_content .content.export form .saving_files .bases_block select {
        appearance: none;
        padding: 10px 40px 10px 20px;
        z-index: 1;
        -webkit-appearance: none;
        -moz-appearance: none; }
        main .export_import .tabs_content .content.export form .saving_files .bases_block select option {
          font-size: 14px;
          color: #000000; }
      main .export_import .tabs_content .content.export form .saving_files .bases_block > i {
        color: black; }
  main .adding_user {
    background-color: #fff; }
    main .adding_user .content {
      padding: 20px; }
      main .adding_user .content form .inputs {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        main .adding_user .content form .inputs fieldset.input_default {
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
              flex-direction: column;
          margin-bottom: 15px; }
          main .adding_user .content form .inputs fieldset.input_default label {
            margin-bottom: 15px;
            font-size: 14px; }
          main .adding_user .content form .inputs fieldset.input_default input {
            border: solid 1px #c5c9cc;
            background-color: #f5f5f5;
            padding: 5px 20px; }
        main .adding_user .content form .inputs fieldset.group_input {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: justify;
              justify-content: space-between; }
          main .adding_user .content form .inputs fieldset.group_input .input_default {
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
            margin-right: 20px; }
            main .adding_user .content form .inputs fieldset.group_input .input_default + .input_default {
              margin-left: 20px;
              margin-right: 0; }
        main .adding_user .content form .inputs fieldset.Fleft {
          margin-right: 60px;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
      main .adding_user .content.mainInfo fieldset.select {
        margin-top: 51px; }
      main .adding_user .content.career form {
        width: 100%; }
        main .adding_user .content.career form .inputs fieldset.group_input {
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
          -ms-flex-direction: column;
              flex-direction: column; }
          main .adding_user .content.career form .inputs fieldset.group_input + .group_input {
            margin-left: 60px; }
          main .adding_user .content.career form .inputs fieldset.group_input .input_default {
            margin: 0;
            margin-bottom: 10px; }
          main .adding_user .content.career form .inputs fieldset.group_input .select {
            margin-bottom: 10px; }
      main .adding_user .content.auto form {
        width: 100%; }
        main .adding_user .content.auto form .inputs fieldset.group_input {
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
          -ms-flex-direction: column;
              flex-direction: column; }
          main .adding_user .content.auto form .inputs fieldset.group_input + .group_input {
            margin-left: 60px; }
          main .adding_user .content.auto form .inputs fieldset.group_input .input_default {
            margin: 0;
            margin-bottom: 10px; }
          main .adding_user .content.auto form .inputs fieldset.group_input .select {
            margin-bottom: 10px; }
  main .users .users_find {
    padding: 20px;
    background-color: #fff; }
    main .users .users_find form fieldset.group_input {
      margin-bottom: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      main .users .users_find form fieldset.group_input a {
        border-radius: 3px;
        background-color: #e39855;
        font-size: 14px;
        padding: 6px 20px;
        color: #ffffff; }
    main .users .users_find form div.group_select {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      main .users .users_find form div.group_select .select {
        min-width: 200px; }
  main .users .users_lists {
    margin-top: 10px;
    background-color: #fff; }
    main .users .users_lists li {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex; }
      main .users .users_lists li span {
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
        border: 1px solid #e5e5e5;
        padding: 20px 35px; }
  main .matching_bases .bases_find {
    padding: 20px;
    background-color: #fff; }
    main .matching_bases .bases_find form fieldset.group_input {
      margin-bottom: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      main .matching_bases .bases_find form fieldset.group_input input[type="search"] {
        max-width: 615px;
        margin-right: 40px;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
        border-radius: 3px;
        border: solid 1.3px #c5c9cc;
        background-color: #ffffff;
        padding: 5px 20px; }
      main .matching_bases .bases_find form fieldset.group_input a {
        border-radius: 3px;
        background-color: #e39855;
        font-size: 14px;
        padding: 6px 20px;
        color: #ffffff; }
    main .matching_bases .bases_find form div.group_select {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      main .matching_bases .bases_find form div.group_select .select {
        min-width: 200px; }
  main .matching_bases .bases_lists {
    margin-top: 10px;
    background-color: #fff; }
    main .matching_bases .bases_lists li {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex; }
      main .matching_bases .bases_lists li.title {
        background-color: #3b4662;
        color: white; }
      main .matching_bases .bases_lists li span {
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
        border: 1px solid #e5e5e5;
        padding: 20px 35px; }
  main .matching_prices .matching_blocks {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex; }
    main .matching_prices .matching_blocks .block {
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
      main .matching_prices .matching_blocks .block + .block {
        margin-left: 10px; }
      main .matching_prices .matching_blocks .block > form {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        padding: 20px 0px; }
        main .matching_prices .matching_blocks .block > form .add_file_block {
          background-color: #fff; }
        main .matching_prices .matching_blocks .block > form input[type="submit"] {
          margin-top: 0; }
      main .matching_prices .matching_blocks .block .title {
        text-align: center;
        box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.05);
        background-color: #3b4662; }
        main .matching_prices .matching_blocks .block .title h2 {
          position: relative;
          font-family: Roboto;
          font-size: 16px;
          color: #ffffff;
          padding: 15px 30px; }
          main .matching_prices .matching_blocks .block .title h2 i {
            color: black;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translate(-50%, -50%); }
      main .matching_prices .matching_blocks .block form {
        padding: 20px;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.01), -5px 0 5px 0 rgba(0, 0, 0, 0.01), 5px 0 5px 0 rgba(0, 0, 0, 0.01);
        background-color: white;
        -ms-flex-direction: column;
            flex-direction: column; }
        main .matching_prices .matching_blocks .block form .group_select {
          width: 100%;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
          main .matching_prices .matching_blocks .block form .group_select .select + .select {
            margin-top: 20px; }
        main .matching_prices .matching_blocks .block form .group_input {
          margin-top: 20px;
          width: 100%;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
          main .matching_prices .matching_blocks .block form .group_input input[type="search"] {
            width: 100%;
            max-width: 100%; }
        main .matching_prices .matching_blocks .block form input[type="submit"] {
          margin-top: 20px; }
      main .matching_prices .matching_blocks .block .lists {
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.01), -5px 0 5px 0 rgba(0, 0, 0, 0.01), 5px 0 5px 0 rgba(0, 0, 0, 0.01);
        margin-top: 10px;
        background-color: white; }
        main .matching_prices .matching_blocks .block .lists ul.block_lists li {
          position: relative;
          padding: 15px 20px; }
          main .matching_prices .matching_blocks .block .lists ul.block_lists li i {
            color: #e5e5e5;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translate(-50%, -50%); }
          main .matching_prices .matching_blocks .block .lists ul.block_lists li + li {
            border-top: 1px solid #e5e5e5; }
      main .matching_prices .matching_blocks .block.sales form .group_input {
        margin-top: 0; }
      main .matching_prices .matching_blocks .block.sales form .group_select .select {
        margin-top: 20px; }
      main .matching_prices .matching_blocks .block.sales .lists {
        background-color: transparent;
        box-shadow: none; }
        main .matching_prices .matching_blocks .block.sales .lists form {
          background-color: transparent;
          box-shadow: none;
          padding: 0; }
          main .matching_prices .matching_blocks .block.sales .lists form .btns {
            display: -ms-flexbox;
            display: flex;
            border-radius: 5px;
            background-color: #e39855; }
            main .matching_prices .matching_blocks .block.sales .lists form .btns a.checkAll {
              width: 0px;
              height: 0px;
              display: block;
              border: 1px solid white;
              padding: 10px;
              margin: 15px;
              background-color: white;
              border-radius: 5px; }
            main .matching_prices .matching_blocks .block.sales .lists form .btns .submit {
              display: -ms-flexbox;
              display: flex;
              border-left: 1px solid white;
              position: relative;
              -ms-flex-align: center;
                  align-items: center; }
              main .matching_prices .matching_blocks .block.sales .lists form .btns .submit input {
                margin-top: 0;
                background-color: transparent; }
              main .matching_prices .matching_blocks .block.sales .lists form .btns .submit > i {
                color: white; }
          main .matching_prices .matching_blocks .block.sales .lists form ul.block_lists {
            background-color: #fff;
            margin-top: 10px; }
            main .matching_prices .matching_blocks .block.sales .lists form ul.block_lists li {
              display: -ms-flexbox;
              display: flex;
              padding: 0; }
              main .matching_prices .matching_blocks .block.sales .lists form ul.block_lists li input[type="checkbox"] {
                display: none; }
              main .matching_prices .matching_blocks .block.sales .lists form ul.block_lists li label {
                display: -ms-flexbox;
                display: flex;
                -ms-flex: 1 0 auto;
                    flex: 1 0 auto;
                -ms-flex-align: center;
                    align-items: center; }
                main .matching_prices .matching_blocks .block.sales .lists form ul.block_lists li label:before {
                  content: '';
                  width: 0px;
                  height: 0px;
                  display: block;
                  border: 1px solid #c5c9cc;
                  padding: 10px;
                  margin: 15px;
                  margin-right: 35px;
                  background-color: white;
                  border-radius: 5px; }
      main .matching_prices .matching_blocks .block.chooses .title {
        background-color: #fff; }
        main .matching_prices .matching_blocks .block.chooses .title h2 {
          color: #3b4662; }
      main .matching_prices .matching_blocks .block.chooses ul.block_lists li {
        color: #e5e5e5; }
  main .matching_holdings {
    margin-top: 20px; }
    main .matching_holdings .matching_blocks {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex; }
      main .matching_holdings .matching_blocks .block {
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
        main .matching_holdings .matching_blocks .block + .block {
          margin-left: 10px; }
        main .matching_holdings .matching_blocks .block > form {
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center;
          padding: 20px 0px; }
          main .matching_holdings .matching_blocks .block > form .add_file_block {
            background-color: #fff; }
          main .matching_holdings .matching_blocks .block > form input[type="submit"] {
            margin-top: 0; }
        main .matching_holdings .matching_blocks .block .title {
          text-align: center;
          box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.05);
          background-color: #3b4662; }
          main .matching_holdings .matching_blocks .block .title h2 {
            position: relative;
            font-family: Roboto;
            font-size: 16px;
            color: #ffffff;
            padding: 15px 30px; }
            main .matching_holdings .matching_blocks .block .title h2 i {
              color: black;
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translate(-50%, -50%); }
        main .matching_holdings .matching_blocks .block form {
          padding: 20px;
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.01), -5px 0 5px 0 rgba(0, 0, 0, 0.01), 5px 0 5px 0 rgba(0, 0, 0, 0.01);
          background-color: white;
          -ms-flex-direction: column;
              flex-direction: column; }
          main .matching_holdings .matching_blocks .block form .group_select {
            width: 100%;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto; }
            main .matching_holdings .matching_blocks .block form .group_select .select + .select {
              margin-top: 20px; }
          main .matching_holdings .matching_blocks .block form .group_input {
            margin-top: 20px;
            width: 100%;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto; }
            main .matching_holdings .matching_blocks .block form .group_input input[type="search"] {
              width: 100%;
              max-width: 100%; }
          main .matching_holdings .matching_blocks .block form input[type="submit"] {
            margin-top: 20px; }
        main .matching_holdings .matching_blocks .block .lists {
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.01), -5px 0 5px 0 rgba(0, 0, 0, 0.01), 5px 0 5px 0 rgba(0, 0, 0, 0.01);
          margin-top: 10px;
          background-color: white; }
          main .matching_holdings .matching_blocks .block .lists ul.block_lists li {
            position: relative;
            padding: 15px 20px; }
            main .matching_holdings .matching_blocks .block .lists ul.block_lists li i {
              color: #e5e5e5;
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translate(-50%, -50%); }
            main .matching_holdings .matching_blocks .block .lists ul.block_lists li + li {
              border-top: 1px solid #e5e5e5; }
        main .matching_holdings .matching_blocks .block.market_prices form .group_input {
          margin-top: 0; }
        main .matching_holdings .matching_blocks .block.market_prices form .group_select .select {
          margin-top: 20px; }
        main .matching_holdings .matching_blocks .block.market_prices .lists {
          background-color: transparent;
          box-shadow: none; }
          main .matching_holdings .matching_blocks .block.market_prices .lists form {
            background-color: transparent;
            box-shadow: none;
            padding: 0; }
            main .matching_holdings .matching_blocks .block.market_prices .lists form .btns {
              display: -ms-flexbox;
              display: flex;
              border-radius: 5px;
              background-color: #e39855; }
              main .matching_holdings .matching_blocks .block.market_prices .lists form .btns a.checkAll {
                width: 0px;
                height: 0px;
                display: block;
                border: 1px solid white;
                padding: 10px;
                margin: 15px;
                background-color: white;
                border-radius: 5px; }
              main .matching_holdings .matching_blocks .block.market_prices .lists form .btns .submit {
                display: -ms-flexbox;
                display: flex;
                border-left: 1px solid white;
                position: relative;
                -ms-flex-align: center;
                    align-items: center; }
                main .matching_holdings .matching_blocks .block.market_prices .lists form .btns .submit input {
                  margin-top: 0;
                  background-color: transparent; }
                main .matching_holdings .matching_blocks .block.market_prices .lists form .btns .submit > i {
                  color: white; }
            main .matching_holdings .matching_blocks .block.market_prices .lists form ul.block_lists {
              background-color: #fff;
              margin-top: 10px; }
              main .matching_holdings .matching_blocks .block.market_prices .lists form ul.block_lists li {
                display: -ms-flexbox;
                display: flex;
                padding: 0; }
                main .matching_holdings .matching_blocks .block.market_prices .lists form ul.block_lists li input[type="checkbox"] {
                  display: none; }
                main .matching_holdings .matching_blocks .block.market_prices .lists form ul.block_lists li label {
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex: 1 0 auto;
                      flex: 1 0 auto;
                  -ms-flex-align: center;
                      align-items: center; }
                  main .matching_holdings .matching_blocks .block.market_prices .lists form ul.block_lists li label:before {
                    content: '';
                    width: 0px;
                    height: 0px;
                    display: block;
                    border: 1px solid #c5c9cc;
                    padding: 10px;
                    margin: 15px;
                    margin-right: 35px;
                    background-color: white;
                    border-radius: 5px; }
        main .matching_holdings .matching_blocks .block.chooses .title {
          background-color: #fff; }
          main .matching_holdings .matching_blocks .block.chooses .title h2 {
            color: #3b4662; }
        main .matching_holdings .matching_blocks .block.chooses ul.block_lists li {
          color: #e5e5e5; }
  main .analysis .analysis_filter {
    padding: 20px;
    background-color: #fff; }
    main .analysis .analysis_filter form {
      padding: 0; }
      main .analysis .analysis_filter form div.group_input {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: end;
            align-items: flex-end;
        margin-top: 20px; }
        main .analysis .analysis_filter form div.group_input fieldset.input_default {
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
              flex-direction: column; }
          main .analysis .analysis_filter form div.group_input fieldset.input_default + fieldset.input_default {
            margin-left: 20px; }
          main .analysis .analysis_filter form div.group_input fieldset.input_default label {
            margin-bottom: 15px;
            font-size: 14px; }
          main .analysis .analysis_filter form div.group_input fieldset.input_default input {
            border: solid 1px #c5c9cc;
            background-color: #f5f5f5;
            padding: 5px 20px; }
        main .analysis .analysis_filter form div.group_input input[type="submit"] {
          border-radius: 3px;
          background-color: #e39855;
          padding: 6px 20px;
          margin-left: 20px;
          margin-top: 0; }
      main .analysis .analysis_filter form div.group_select {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex; }
        main .analysis .analysis_filter form div.group_select + div.group_select {
          margin-top: 20px; }
        main .analysis .analysis_filter form div.group_select .select {
          min-width: 236px; }
          main .analysis .analysis_filter form div.group_select .select + .select {
            margin-left: 20px; }
  main .analysis .analysis_block table, main .analysis .analysis_block th, main .analysis .analysis_block td {
    border-collapse: collapse;
    border: 1px solid black; }
  main .analysis .analysis_block table {
    table-layout: fixed;
    border: 1px solid purple; }
    main .analysis .analysis_block table thead th {
      border: 1px solid #e5e5e5;
      text-align: center;
      vertical-align: middle; }
    main .analysis .analysis_block table caption {
      text-align: center;
      border: 1px solid gray; }
    main .analysis .analysis_block table td {
      padding: 10px 40px;
      border: solid 1px #e5e5e5; }
    main .analysis .analysis_block table tr {
      background-color: white;
      height: 50px;
      border: 1px solid #e5e5e5; }
      main .analysis .analysis_block table tr:last-child th {
        vertical-align: middle;
        text-align: center;
        border: solid 1px #e5e5e5;
        color: white;
        background-color: #3b4662; }
  main .analysis .analysis_block .report_all {
    padding: 10px 0;
    background-color: #eeeeee;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    main .analysis .analysis_block .report_all table tbody tr td {
      vertical-align: middle;
      text-align: center;
      color: #000000; }
  main .analysis .analysis_block .groups_report {
    white-space: nowrap;
    overflow-x: scroll;
    display: -ms-grid;
    display: grid;
    -ms-flex-direction: column;
    flex-direction: column; }
    main .analysis .analysis_block .groups_report .report_header {
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center; }
      main .analysis .analysis_block .groups_report .report_header .report_header_name {
        min-width: 600px; }
        main .analysis .analysis_block .groups_report .report_header .report_header_name table {
          width: 100%; }
      main .analysis .analysis_block .groups_report .report_header .report_header_informations {
        width: calc(100% - 400px);
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex; }
        main .analysis .analysis_block .groups_report .report_header .report_header_informations table {
          width: 100%; }
        main .analysis .analysis_block .groups_report .report_header .report_header_informations .month {
          display: -ms-flexbox;
          display: flex;
          width: calc(100% - 500px); }
        main .analysis .analysis_block .groups_report .report_header .report_header_informations .info {
          width: 500px; }
    main .analysis .analysis_block .groups_report .group {
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center; }
      main .analysis .analysis_block .groups_report .group table {
        width: 100%; }
        main .analysis .analysis_block .groups_report .group table thead th {
          background-color: #c4c4c4;
          color: black;
          cursor: pointer;
          vertical-align: middle;
          text-align: center; }
        main .analysis .analysis_block .groups_report .group table tbody td {
          vertical-align: middle; }
        main .analysis .analysis_block .groups_report .group table tbody.hide {
          display: none;
          opacity: 0; }
      main .analysis .analysis_block .groups_report .group .group_name {
        min-width: 600px; }
      main .analysis .analysis_block .groups_report .group .group_informations {
        width: calc(100% - 400px);
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex; }
        main .analysis .analysis_block .groups_report .group .group_informations .month {
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -ms-flexbox;
          display: flex;
          width: calc(100% - 500px); }
          main .analysis .analysis_block .groups_report .group .group_informations .month .info {
            display: inline-block; }
        main .analysis .analysis_block .groups_report .group .group_informations .info {
          width: 500px; }
  main .audit .analysis_block .groups_report .group .group_name {
    min-width: 200px; }
  main .audit .analysis_block .groups_report .group .group_informations .month {
    width: auto; }
    main .audit .analysis_block .groups_report .group .group_informations .month .info {
      width: 80px; }
  main .audit .analysis_block .groups_report .report_header .report_header_name {
    min-width: 200px; }
  main .audit .analysis_block .groups_report .report_header .report_header_informations .month {
    width: auto; }
    main .audit .analysis_block .groups_report .report_header .report_header_informations .month .info {
      width: 80px; }
