@charset "UTF-8";
/* google font */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/* стили*/
body {
  line-height: 1.4em;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  text-align: left;
  font-size: 14px; }

img {
  max-width: 100%;
  height: 100%; }

html, body {
  height: 100%; }

.btn {
  cursor: pointer;
  color: white;
  border: none;
  box-shadow: 3px 3px 4px -2px black;
  padding: 5px 10px; }

.btn_red {
  background-color: #d76666; }

.btn_blue {
  background-color: #6391bf; }

body.overlay:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #7a7a7aad;
  z-index: 9999; }

body .body_wrapper {
  background-color: #cbd1cd;
  padding: 1px; }
  body .body_wrapper .packets_content {
    background-image: url(../img/wrapper.jpg);
    padding: 45px 10px;
    height: 100%;
    box-sizing: border-box; }
    body .body_wrapper .packets_content .packet {
      height: 100%; }
      body .body_wrapper .packets_content .packet .packet_header {
        background-color: #eaeaea;
        padding: 30px 0;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }
        body .body_wrapper .packets_content .packet .packet_header button {
          cursor: pointer;
          margin-left: 10px;
          color: white;
          background-color: #6391bf;
          border: none;
          box-shadow: 3px 3px 4px -2px black;
          padding: 5px 10px; }
      body .body_wrapper .packets_content .packet .packet_body {
        background: white;
        padding: 10px 20px; }
        body .body_wrapper .packets_content .packet .packet_body .packet_list {
          position: relative;
          padding: 10px 50px;
          background-color: #8f8f8f;
          margin: 10px 0; }
          body .body_wrapper .packets_content .packet .packet_body .packet_list h2 {
            color: white;
            text-transform: uppercase; }
          body .body_wrapper .packets_content .packet .packet_body .packet_list .icon {
            position: absolute;
            cursor: pointer;
            color: white;
            background-color: #6391bf;
            padding: 10px;
            top: 50%;
            transform: translateY(-50%); }
          body .body_wrapper .packets_content .packet .packet_body .packet_list .wrench {
            left: 0px; }
          body .body_wrapper .packets_content .packet .packet_body .packet_list .delete {
            right: 0px; }
  body .body_wrapper .base_creation {
    margin: 40px 40px 0px;
    border: 1px solid #b9b9b9;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    body .body_wrapper .base_creation .markets {
      background: #fff;
      width: 100%;
      padding: 15px;
      border: 1px solid #dfe3e6;
      margin: 10px; }
      body .body_wrapper .base_creation .markets .markets_header {
        padding: 20px;
        background: #dfe3e6; }
        body .body_wrapper .base_creation .markets .markets_header form {
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: justify;
              justify-content: space-between;
          -ms-flex-direction: column;
              flex-direction: column; }
          body .body_wrapper .base_creation .markets .markets_header form .btn_red {
            margin-left: 0; }
          body .body_wrapper .base_creation .markets .markets_header form fieldset {
            width: 100%;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
                align-items: center; }
            body .body_wrapper .base_creation .markets .markets_header form fieldset + fieldset {
              margin: 10px 0; }
            body .body_wrapper .base_creation .markets .markets_header form fieldset label {
              width: 20%; }
            body .body_wrapper .base_creation .markets .markets_header form fieldset textarea,
            body .body_wrapper .base_creation .markets .markets_header form fieldset input[type="text"] {
              width: 80%;
              padding: 5px;
              margin-left: 10px; }
      body .body_wrapper .base_creation .markets .markets_body .market {
        margin: 20px 0;
        overflow: hidden; }
        body .body_wrapper .base_creation .markets .markets_body .market.market_skillet {
          display: none; }
        body .body_wrapper .base_creation .markets .markets_body .market .market_title {
          position: relative;
          cursor: pointer;
          padding: 10px 50px;
          background-color: #e3ffc9; }
          body .body_wrapper .base_creation .markets .markets_body .market .market_title .icon {
            position: absolute;
            cursor: pointer;
            color: white;
            background-color: #6391bf;
            padding: 9px;
            top: 50%;
            transform: translateY(-50%); }
            body .body_wrapper .base_creation .markets .markets_body .market .market_title .icon.wrench {
              left: 0; }
            body .body_wrapper .base_creation .markets .markets_body .market .market_title .icon.delete {
              right: 0; }
        body .body_wrapper .base_creation .markets .markets_body .market .market_content {
          background-color: #dfe3e6;
          min-height: 0;
          max-height: 0;
          opacity: 0;
          transition: all 0.8s ease; }
          body .body_wrapper .base_creation .markets .markets_body .market .market_content.show {
            min-height: 50px;
            max-height: 100vh;
            opacity: 1; }
          body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_description {
            padding: 10px 30px; }
          body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups {
            padding: 10px 30px; }
            body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups .groups_header {
              padding: 10px 0; }
              body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups .groups_header form {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: justify;
                    justify-content: space-between;
                -ms-flex-align: center;
                    align-items: center; }
                body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups .groups_header form input#groupName {
                  width: 50%;
                  padding: 5px; }
            body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups .groups_content .groups_content_tabs {
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
              -ms-flex-align: center;
                  align-items: center; }
              body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups .groups_content .groups_content_tabs .tab {
                margin: 10px;
                background: #6391bf;
                cursor: pointer;
                padding: 5px 20px;
                color: white;
                box-shadow: 2px 2px 5px -1px black; }
                body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups .groups_content .groups_content_tabs .tab.active {
                  box-shadow: 1px 1px 8px -1px inset black; }
            body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups .groups_content .groups .group {
              display: none; }
              body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups .groups_content .groups .group.active {
                display: block;
                margin: 20px 0px;
                background: white;
                padding: 20px; }
                body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups .groups_content .groups .group.active .product.selected {
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex-align: center;
                      align-items: center;
                  -ms-flex-pack: justify;
                      justify-content: space-between; }
                  body .body_wrapper .base_creation .markets .markets_body .market .market_content .market_groups .groups_content .groups .group.active .product.selected i {
                    color: #6391bf;
                    cursor: pointer; }
    body .body_wrapper .base_creation .products {
      border: 1px solid #dfe3e6;
      margin: 10px;
      padding: 15px;
      background: #fff;
      width: 100%; }
      body .body_wrapper .base_creation .products .products_header {
        background-color: #dfe3e6;
        padding: 20px; }
        body .body_wrapper .base_creation .products .products_header h2 {
          width: 100%;
          padding: 5px;
          text-align: center;
          color: #6391bf; }
        body .body_wrapper .base_creation .products .products_header form {
          margin-top: 10px;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-direction: column;
          flex-direction: column; }
          body .body_wrapper .base_creation .products .products_header form fieldset {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: justify;
                justify-content: space-between; }
            body .body_wrapper .base_creation .products .products_header form fieldset + fieldset {
              margin-top: 10px; }
            body .body_wrapper .base_creation .products .products_header form fieldset input[type="text"] {
              width: 90%;
              padding: 5px; }
            body .body_wrapper .base_creation .products .products_header form fieldset select {
              width: 85%;
              padding: 5px;
              margin-left: 10px; }
          body .body_wrapper .base_creation .products .products_header form input.btn_red {
            margin-top: 10px;
            margin-left: 0; }
      body .body_wrapper .base_creation .products .products_body .search_results .resuts_count {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        padding: 5px 25px;
        background: #e3ffc9; }
      body .body_wrapper .base_creation .products .products_body .search_results .product_lists {
        border: 1px solid #dfe3e6;
        padding: 10px 0;
        overflow-y: scroll;
        max-height: 210px; }
        body .body_wrapper .base_creation .products .products_body .search_results .product_lists .product {
          padding: 5px 25px;
          border-bottom: 1px solid #dfe3e6;
          cursor: pointer; }
          body .body_wrapper .base_creation .products .products_body .search_results .product_lists .product.selected {
            background-color: #e7e7e7; }
          body .body_wrapper .base_creation .products .products_body .search_results .product_lists .product:last-child {
            border: none; }
      body .body_wrapper .base_creation .products a.product_select {
        display: inline-block;
        margin-left: 0;
        margin-top: 10px; }
  body .body_wrapper .market_date {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 20px auto 0; }
  body .body_wrapper .market_date input {
    text-align: center;
    border: 1px solid #b9b9b9c2;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 5px; }
  body .body_wrapper .btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 20px 0px; }
  body .body_wrapper .report_wrapper table, body .body_wrapper .report_wrapper th, body .body_wrapper .report_wrapper td {
    border-collapse: collapse;
    border: 1px solid black; }
  body .body_wrapper .report_wrapper table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid purple; }
    body .body_wrapper .report_wrapper table thead th {
      vertical-align: middle;
      text-align: center;
      font-weight: 600; }
    body .body_wrapper .report_wrapper table caption {
      text-align: center;
      border: 1px solid gray; }
    body .body_wrapper .report_wrapper table tr {
      background-color: white;
      height: 30px;
      border: 1px solid gray; }
  body .body_wrapper .report_wrapper .report_all {
    margin-bottom: 45px; }
    body .body_wrapper .report_wrapper .report_all table tbody tr td {
      vertical-align: middle;
      text-align: center;
      font-weight: 600;
      color: white;
      background-color: #6391bf; }
  body .body_wrapper .report_wrapper .filter_report {
    padding: 20px 0px; }
    body .body_wrapper .report_wrapper .filter_report form > fieldset {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      body .body_wrapper .report_wrapper .filter_report form > fieldset fieldset {
        margin: 15px 0; }
      body .body_wrapper .report_wrapper .filter_report form > fieldset legend {
        margin: 10px auto; }
      body .body_wrapper .report_wrapper .filter_report form > fieldset input,
      body .body_wrapper .report_wrapper .filter_report form > fieldset select {
        padding: 5px; }
    body .body_wrapper .report_wrapper .filter_report form input.btn_red {
      margin: 10px auto 0;
      display: block; }
  body .body_wrapper .report_wrapper .groups_report {
    white-space: nowrap;
    overflow-x: scroll;
    display: -ms-grid;
    display: grid;
    -ms-flex-direction: column;
        flex-direction: column; }
    body .body_wrapper .report_wrapper .groups_report .report_header {
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center; }
      body .body_wrapper .report_wrapper .groups_report .report_header .report_header_name {
        min-width: 600px; }
      body .body_wrapper .report_wrapper .groups_report .report_header .report_header_informations {
        width: calc(100% - 400px);
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex; }
        body .body_wrapper .report_wrapper .groups_report .report_header .report_header_informations .month {
          display: -ms-flexbox;
          display: flex;
          width: calc(100% - 500px); }
        body .body_wrapper .report_wrapper .groups_report .report_header .report_header_informations .info {
          width: 500px; }
    body .body_wrapper .report_wrapper .groups_report .group {
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center; }
      body .body_wrapper .report_wrapper .groups_report .group table thead th {
        background: #6391bf;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        font-weight: 500;
        color: white; }
      body .body_wrapper .report_wrapper .groups_report .group table tbody td {
        vertical-align: middle;
        padding-left: 10px; }
      body .body_wrapper .report_wrapper .groups_report .group table tbody.hide {
        display: none;
        opacity: 0; }
      body .body_wrapper .report_wrapper .groups_report .group .group_name {
        min-width: 600px; }
      body .body_wrapper .report_wrapper .groups_report .group .group_informations {
        width: calc(100% - 400px);
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex; }
        body .body_wrapper .report_wrapper .groups_report .group .group_informations .month {
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -ms-flexbox;
          display: flex;
          width: calc(100% - 500px); }
          body .body_wrapper .report_wrapper .groups_report .group .group_informations .month .info {
            display: inline-block; }
        body .body_wrapper .report_wrapper .groups_report .group .group_informations .info {
          width: 500px; }

body .load_popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 700px;
  height: auto;
  opacity: 0;
  margin-left: -300%;
  transition: all 0.6s ease; }
  body .load_popup.show {
    margin-left: 0;
    opacity: 1;
    z-index: 9999; }
  body .load_popup form {
    margin: 20px;
    border: 1px solid #ccccccd4;
    padding: 10px; }
    body .load_popup form .files {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex; }
      body .load_popup form .files input#add_file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1; }
        body .load_popup form .files input#add_file + label {
          width: 170px;
          font-size: 1.25em;
          font-weight: 700;
          color: white;
          background-color: #6391bf;
          display: inline-block;
          transition: all 0.5s ease;
          padding: 5px 10px; }
        body .load_popup form .files input#add_file:focus + label,
        body .load_popup form .files input#add_file + label:hover {
          background-color: #677bd5; }
        body .load_popup form .files input#add_file + label {
          cursor: pointer;
          /* "hand" cursor */ }
      body .load_popup form .files input[type="text"] {
        width: calc(100% - 170px*2);
        border: 1px solid #ccccccd4; }
      body .load_popup form .files input[type="submit"] {
        width: 170px;
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: #6391bf;
        display: inline-block;
        transition: all 0.5s ease;
        padding: 5px 10px;
        cursor: pointer; }
        body .load_popup form .files input[type="submit"]:hover {
          background-color: #677bd5; }
    body .load_popup form .checkboxes {
      margin-top: 20px;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      body .load_popup form .checkboxes label {
        font-size: 12px; }
  body .load_popup .bottom_part {
    padding: 10px 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    background-color: #eaeaea; }
    body .load_popup .bottom_part a.close {
      cursor: pointer;
      text-align: center;
      font-size: 1.25em;
      font-weight: 700;
      color: white;
      background-color: #6391bf;
      display: inline-block;
      transition: all 0.5s ease;
      padding: 5px 10px; }
