/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  header nav {
    width: 36%;
  }
  .siteDescription {
    width: 60%;
  }
  .chef {
    width: 35%;
  }
  .footerNav {
    width: 28%;
    line-height: 1.8rem;
  }
  .footerNav > ul > li a {
    font-size: 1.2em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header nav {
    width: 38%;
  }
  header nav > ul > li a {
    font-size: 1.2em;
    line-height: 3em;
  }
  .siteDescription {
    width: 90%;
  }
  .chef {
    width: 48%;
  }
  footer .col-7_9-10 {
    width: 93%;
    text-align: center;
  }
  .footerNav {
    display: block;
    float:none;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.8rem;
  }
  .footerNav > ul > li a {
    font-size: 1.2em;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*wrapper*/
  .logo {
    width: 20%;
    display: block;
    margin: 0 auto;
  }
  header nav {
    width: 65%;
    margin: 0 auto;
    display: block;
    float: none;
    text-align: center;
  }
  header nav>ul>li {
    padding: 3%;
  }
  header nav>ul>li a {
    font-size: 1.6em;
    line-height: 0;
  }
  header nav>ul>li:hover {
    bottom: 0;
    border-bottom: 0;
    text-shadow: 1px 7px 0px rgba(16, 16, 16, 0.75);
  }
  .siteDescription {
    width: 100%;
    margin: 0 auto;
  }
  .siteDescription h2 {
    text-align: center;
  }
  .siteDescription > p:nth-child(2) {
    text-align: center;
  }
  .bookAroom {
    margin: 0 auto;
  }
  /*wrapper 5*/
  .col-4_08-10 {
    width: 60%;
  }
  .callUs h2 {
    padding: 5%;
  }
  .callUs p {
    padding-bottom: 5%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .footerNav {
    width: 26%;
    line-height: 1.6rem;
  }
  .footerNav > ul > li a {
    font-size: 1em;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
/**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
/**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
/**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
/**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
/**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
/**/ }
